@model barber_mvc.Models.Barber

@{
    ViewData["Title"] = "Ny barberare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Ny barberare</h2>
<div>
    <div>
        <form asp-action="Create" class="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="BarberName" class="control-label"></label>
                <input asp-for="BarberName" class="form-control" />
                <span asp-validation-for="BarberName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PayRate" class="control-label"></label>
                <input asp-for="PayRate" class="form-control" />
                <span asp-validation-for="PayRate" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Skapa" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka</a>
</div>

