@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - barber_mvc</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="~/barber_mvc.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
<header>
    <nav class="user-nav">
        @if (SignInManager.IsSignedIn(User))
        {
        @*     <ul> *@
        @*         <li> *@
        @*             <a asp-area="" asp-controller="Customer" asp-action="Index">Kunder</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a asp-area="" asp-controller="Barber" asp-action="Index">Barberare</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a asp-area="" asp-controller="Appointment" asp-action="Index">Bokade tider</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a asp-area="" asp-controller="Service" asp-action="Index">Tjänster</a> *@
        @*         </li> *@
        @*          *@
        @*     </ul> *@
            <partial name="_LoginPartial"/>
        }
    </nav>
</header>
<div class="flex">
    @if (SignInManager.IsSignedIn(User))
    {
        <aside>
            <nav>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Customer" asp-action="Index">Kunder</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Barber" asp-action="Index">Barberare</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Appointment" asp-action="Index">Bokade tider</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Service" asp-action="Index">Tjänster</a>
                    </li>

                </ul>
            </nav>
        </aside>
    }
    <main role="main">
        <h1>Barberar'n - admin</h1>
        @RenderBody()
    </main>
</div>
</div>

<footer>
    <div>
        &copy; 2022 - Barberar'n
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>