@model barber_mvc.Models.Service

@{
    ViewData["Title"] = "Redigera tjänst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Redigera tjänst</h2>
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServiceId" />
            <div>
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ServiceDuration" class="control-label"></label>
                <input asp-for="ServiceDuration" class="form-control" />
                <span asp-validation-for="ServiceDuration" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ServicePrice" class="control-label"></label>
                <input asp-for="ServicePrice" class="form-control" />
                <span asp-validation-for="ServicePrice" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka</a>
</div>

