@page
@model PersonalDataModel
@{
    
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Personuppgifter</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto inehåller personuppgifter som du givit oss. Denna sida tillåter dig att ladda ned eller ta bort dessa.</p>
        <p>
            <strong>Om du tar bort detta kommer ditt konto att raderas för evigt.</strong>
        </p>
        <div class="flex">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">Ladda ned</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Radera</a>
            </p>
        </div>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
