@{
    ViewData["Title"] = "Startsida";
}

<div class="home">
    <h1>Barberar'n</h1>
    <div class="welcome">
        <h2>Hej!</h2>
        <div class="text-container">
            <p>Du har kommit till admin-sidan för barberarsalongen Barberar'n.
                För att kunna administrera sidan behöver du logga in. Har du inte inloggningsuppgifter får du kontakta
                Hasse på <a href="#">info@barberaren.se</a></p>
        </div>
        <div class="login-container"><a asp-area="Identity" asp-page="/Account/Login">Logga in</a></div>
        
    </div>
</div>