@import "base";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background: $brown-dark;
  font-family: 'Dosis', sans-serif;
  color: $nature-white;
}

h1 {
  font-family: "Playfair Display SC", serif;
}

h2, h3, h4 {
  font-family: "Cantarell", sans-serif;
}

main {
  min-height: 80vh;
  max-width: 800px;
  margin: auto;
}

a {
  color: $accent;

  @include desktop {
    &:hover {
      color: $accent-bright;
    }
  }
}

// home
.home {
  
  h1 {
    text-align: center;
    font-size: 4rem;
    padding: 2rem 0;
    
  }
  .welcome {
    font-size: 1.1rem;
    max-width: 500px;
    margin: auto;
    background: $brown;
    padding: 2rem;
    border-radius: 20px;
    
    
    
    .login-container {
      width: fit-content;
      margin: 2rem auto 0 auto;
      a {
        display: block;
        font-size: 1.5rem;
        background: $accent;
        color: black;
        padding: 1rem;
        border-radius: 20px;
        text-decoration: none;
        box-shadow: 0 8px 0 $accent-dull;
        transition: 0.2s;
        
        
        @include desktop {
          &:hover {
            box-shadow: 0 6px 0 $accent-dull;
            background: $accent-bright;
          }
          
        }
      }
      
    }
  }
}

// login 
.login {
  h1 {
    text-align: center;
  }
  form {
    background:$brown;
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
    
    input {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem;
      
    }
  }
}

// footer
footer {
  text-align: center;
  color: $nature-white;
  padding: 3rem 0;
}