@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Dosis:wght@300;500&family=Mulish:wght@300;400&family=Playfair+Display+SC:wght@400;700&family=Rokkitt:wght@300;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background: #1d1a16;
  font-family: "Dosis", sans-serif;
  color: #f5f2ea;
}

h1 {
  font-family: "Playfair Display SC", serif;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2, h3, h4 {
  font-family: "Cantarell", sans-serif;
}

.container {
  max-width: 1920px;
  margin: auto;
}

main {
  min-height: 80vh;
  margin: auto;
  padding: 2rem 0.5rem;
}
@media screen and (min-width: 900px) {
  main {
    width: 750px;
  }
}

a {
  color: #eeba4c;
}
@media screen and (min-width: 900px) {
  a:hover {
    color: #ffb81f;
  }
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.text-danger {
  color: #ea5431;
}
.text-danger span {
  color: #ea5431;
}

@media screen and (max-width: 900px) {
  #main-aside-container {
    flex-direction: column;
  }
}

aside {
  background: #342e26;
  padding: 1rem;
}
@media screen and (max-width: 500px) {
  aside {
    padding: 0.3rem;
  }
}
aside ul {
  list-style-type: none;
}
@media screen and (max-width: 900px) {
  aside ul {
    display: flex;
  }
}
aside ul li {
  margin: 0.5rem 0;
}
aside a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 500px) {
  aside a {
    font-size: 1rem;
  }
}

.btn {
  display: block;
  background: #eeba4c;
  color: black;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  box-shadow: 0 5px 0 #ac9158;
  transition: 0.2s;
}
@media screen and (min-width: 900px) {
  .btn:hover {
    box-shadow: 0 2px 0 #ac9158;
    background: #ffb81f;
    cursor: pointer;
  }
}

.home .welcome {
  font-size: 1.1rem;
  max-width: 500px;
  margin: auto;
  background: #342e26;
  padding: 2rem;
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  .home .welcome {
    padding: 1rem;
  }
}
.home .welcome .login-container {
  width: fit-content;
  margin: 2rem auto 0 auto;
}
.home .welcome .login-container a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.user-nav {
  background: #ac9158;
  padding: 0.5rem;
}
@media screen and (max-width: 500px) {
  .user-nav {
    padding: 0.2rem;
  }
}
.user-nav ul {
  list-style-type: none;
}
.user-nav li {
  margin: 0 0.5rem;
}
@media screen and (max-width: 500px) {
  .user-nav li {
    margin: 0 0.1rem;
  }
}
.user-nav a {
  color: black;
  padding: 0.2rem;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}
@media screen and (max-width: 500px) {
  .user-nav a {
    font-size: 0.8rem;
  }
}
.user-nav form {
  background: unset;
  border-radius: unset;
  padding: 0;
}
.user-nav form button {
  border: none;
  background: unset;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}
@media screen and (max-width: 500px) {
  .user-nav form button {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 900px) {
  .user-nav a:hover, .user-nav button:hover {
    color: #f5f2ea;
    cursor: pointer;
  }
}

form {
  background: #342e26;
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  form {
    padding: 0.5rem;
  }
}
form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
form .checkbox input {
  width: auto;
  display: inline-block;
}
@media screen and (min-width: 900px) {
  form .checkbox input:hover {
    cursor: pointer;
  }
}
form .btn-submit {
  padding: 0.5rem;
  margin: 1rem 0 1rem auto;
  font-size: 1.1rem;
}

table {
  width: 100%;
  margin-top: 2rem;
  -webkit-border-horizontal-spacing: 0;
}
table th {
  text-align: left;
  font-size: 1rem;
  margin-right: 0.5rem;
  background: #342e26;
  padding: 0.5rem 0;
}
table th:nth-child(1) {
  padding-left: 0.5rem;
}
@media screen and (max-width: 700px) {
  table th {
    display: none;
  }
}
table tr:nth-child(even) {
  background: #342e26;
}
table tr td {
  padding: 0.5rem 0.1rem 0.5rem 0;
}
@media screen and (max-width: 700px) {
  table tr td {
    display: block;
    padding-left: 0.5rem;
  }
  table tr td:nth-child(1) {
    font-size: 1.3rem;
    font-weight: bold;
  }
  table tr td::before {
    content: attr(data-th) " ";
    font-weight: bold;
    margin-right: 5px;
  }
}
table tr td:nth-child(1) {
  padding-left: 0.5rem;
}
table tr td:last-child {
  text-align: right;
  padding-right: 0.5rem;
}

.search-form {
  background: unset;
  border-radius: unset;
  padding: 0;
  max-width: unset;
  margin-top: 2rem;
}
.search-form .search {
  margin: 0 0.5rem;
  border-radius: 5px;
  border: none;
}
.search-form .search-btn {
  width: 100px;
  padding: 0.4rem;
  margin: 0;
  box-shadow: unset;
}
@media screen and (min-width: 900px) {
  .search-form .search-btn:hover {
    font-weight: bold;
    color: black;
  }
}
.search-form .all-customers {
  width: auto;
  margin-left: 0.5rem;
}

.edit-form .btn, .create-form .btn {
  margin-top: 1rem;
}

.details-list dt, .delete-list dt {
  background: #342e26;
  padding: 0.2rem;
}
.details-list dd, .delete-list dd {
  padding-left: 0.2rem;
}

.delete-form {
  background: unset;
  border-radius: unset;
}
.delete-form .btn-danger {
  background: #ea5431;
  box-shadow: 0 5px 0 #8d240b;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
@media screen and (min-width: 900px) {
  .delete-form .btn-danger:hover {
    box-shadow: 0 2px 0 #8d240b;
    background: #fc451a;
  }
}

#registerForm button {
  width: 100%;
}

footer {
  text-align: center;
  color: #f5f2ea;
  padding: 3rem 0;
}

/*# sourceMappingURL=style.css.map */
